html,body {
  width: 100%;
  height: 100%;
}

.h-img {
  width: 100%;
  height: 40%;
  background-image: url(title.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  -webkit-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-position: center 0;
  overflow: hidden;
  position: relative;
}

.tab {
  position: absolute;
  bottom: 0%;
  height: 40px;
  color: #FFFFFF;
  width: 100%;
  z-index: 3;
  box-sizing: border-box;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
}

.tab-item {
  width: 12%;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  font-size: .15rem;
  font-weight: lighter;
}

.main {
  white-space:nowrap;
  width: 100%;
  height: 57%;
  display: inline-block;
  position: relative;
  color: cadetblue;
}

.lpart {
  height: 100%;
  width: 65%;
  display: inline;
  position: absolute;
  box-sizing: border-box;
  padding-left: 5%;
  padding-top: 3%;
}

.rpart {
  height: 100%;
  width: 35%;
  display: inline;
  position: absolute;
  right: 0;
  box-sizing: border-box;
  padding-left: 5%;
  padding-top: 3%;
}

.footer {
  position: absolute;
  height: 3%;
  width: 100%;
  top: 100%;
  transform: translate(0,-100%);
  font-size: .15rem;
  text-align: center;
}


.header {
  font-size: .35rem;
  margin-bottom: 5%;
  font-weight: lighter;
}

.pa {
  font-size: .25rem;
  line-height: .35rem;
  font-weight: lighter;
}

.par {
  font-size: .25rem;
  line-height: .5rem;
  font-weight: lighter;
}